.drop-container{
    height: 100px;
    border:1px solid grey;
    width: 300px;
    resize: auto;
    overflow: auto;
}
.drop-item{
    height: 50px;
    background: grey;
    width: 80px;
    overflow: auto;
    resize: auto;
}